<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/homeworker/public/favicon.ico">

    <title>B2S - Homeworker</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Lato');

        .container .container, h2, h3, h4, h5, h6, p {
            font-family: 'Droid Serif', serif;
        }
        body, h1 {
            font-family: 'Lato', sans-serif;
        }
        .card {border: none}
        img {display: none !important;}
    </style>

</head>

<body>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-block text-xs-center">
                    <h4 class="card-title">Donald Trump Thrusts Taiwan Back on the Table, Rattling a Region</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">A single protocol-shattering phone call with Taiwan’s president raises fears of igniting tensions in Asia and emboldening China.</p>
                    <small class="text-muted">Copyright 2016 The New York Times Company</small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-block text-xs-center">
                    <h4 class="card-title">Cuba carries Fidel Castro to final resting place</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">Castro’s ashes were interred Sunday morning in a “simple” ceremony to mark the end of a nine-day national mourning period.</p>
                    <small class="text-muted">&copy; Washington Post</small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-block text-xs-center">
                    <h4 class="card-title">Executed in 1995, China now says he was innocent</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">China's supreme court has declared Nie Shubin, just 20 years old at the time of his death, innocent.</p>
                    <small class="text-muted">&copy; USA Today</small>
                </div>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <form class="form-inline float-xs-right">
                <input class="form-control" type="text" placeholder="Search">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="blog-header">
        <div class="container">
            <h1 class="blog-title">The Bootstrap Blog</h1>
            <p class="lead blog-description">An example blog template built with Bootstrap.</p>
        </div>
    </div>